*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    /* TIP: isme 1px ka border dena sap space pata lag jayega*/
}

html, body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 800 */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root{
  --primary-color: #e7d0f1;
  /* --primary-color: #f5efe7; */
  --secondary-color: #000000 ;

  --color1: #cce3e7;
  --color2: #f7b3fd;
  --color3: ;
  --color4: ;
  --color5: ;
}

#wrapper{
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: rgb(245, 239, 231); */
    /* background-color: var(--primary-color); */
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

p{
  font-size: large;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVBAR */

.navbar{
  /* background-color: white; */
  background: linear-gradient(152deg, rgba(246,239,196,1) 28%, rgba(185,211,225,1) 69%);
  position: sticky;
  top: 0px;

  border-right:  1px solid rgb(0, 0, 0);
  border-left:  1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.nav-section{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* border: 1px solid rgb(227, 13, 13); */
}

.nav-logo{
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.nav-logo img{
  width: 50px;
  height: 50px;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 5px;
  /* border: 1px solid rgb(9, 147, 34); */
}

.nav-links a{

  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);

  margin: 5px;
  padding: 10px;
  border-radius: 8px;

  border: 1px solid rgb(0, 0, 0);
  border-right:  5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links a:hover{
  background-color: rgb(236, 196, 230);
  transition: 0.8s ease-in;
  font-weight: bold;
}

#menu-icon{
  display: none;
}


/************* HERO section *****************/

.hero-section{
  display: flex;
  /* background-color: var(--primary-color); */
  border-right:  1px solid rgb(0, 0, 0);
  border-left:  1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Raleway", sans-serif;
}

/* LEFT*/
.hero-section-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* padding: 2rem; */
  margin: 2rem 3rem 2rem 1rem;
  
  /* border: 1px solid green; */
}
.hero-section-heading{
    font-weight: 500;
    font-size: 20px;
    padding-left: 8px;
    color: var(--secondary-color);
}

.hero-section-sub-heading{
  font-size: 50px;
}

.hero-section-decription{
  padding: 8px;
  color: var(--secondary-color);
  /* border: 1px solid green; */

}

/* button */

#hero-button a{
  color: var(--secondary-color);
  background-color: #faee8f;
  /* display: flex; */
  /* justify-content: baseline; */
}

/* #hero-section, img{
  height: 1.1rem;
  width: 1.1rem;
} */

  /* RIGHT*/

.hero-section-right { 
  background-color: rgb(202, 238, 244);
  width: 50%;
  border-bottom-right-radius: 5px;
}

.user-image{
    /* padding: 2.5rem; */
    border: 1px solid rebeccapurple;
}

.user-image img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}





  /****************   PROJECT   **************/

.project-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    border-radius: 5px;
    /* background-color: rgb(236, 158, 231); */
}

.project-header{
  color: var(--secondary-color);
  background-color: white;
  border: 1px dashed rgb(3, 3, 3);
  letter-spacing: 1px;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Raleway", sans-serif;

}

.project-section{
  display: flex;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin: 1em;
}
.sub-section{
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid rgb(1, 0, 0);
  border-right:  5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
}

.project-title{
  /* border: 1px solid rgb(1, 0, 0); */
  font-family: "ui-sans-serif", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mos-title{
  border: none;
  /* background-color: #F2F3F4; */
  /* background: #cce3e7; */
  background-color: #e5f2f4;
}

.project-desc{
  /* border: 1px solid rgb(1, 0, 0); */
  font-family: "ui-sans-serif", sans-serif;
  padding: 1rem 0;
}

.points{
  font-family: "ui-sans-serif", sans-serif;
  margin: 8px 0px;
}

.btn-area{
  background-color: #E1F0DA;
  padding: 4px 5px;
  border-radius: 5rex;
  /* border: 1px solid rgb(1, 0, 0); */
  display: inline-block;
}
.material-symbols-outlined{
  /* border: 1px solid rgb(1, 0, 0); */
  border-radius: 100%;
  height: 40px;
  width: 40px;
  align-content: center;
  padding-left: 10%;
  color: black;
  background-color: #EAEDED;

}
.mso1{
  margin-right: 8px;
}




/************* SKILL section ************/

.skill-container{
    /* border: 1px solid rgb(74, 131, 69); */
    margin-bottom: 5rem;
    font-family: "Raleway", sans-serif;
}

.skill-header{
    display: flex;
    color: var(--secondary-color);
    background-color: white;
    border: 1px dashed rgb(3, 3, 3);
    letter-spacing: 2px;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Raleway", sans-serif;
}

.skill-section{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem; 
    /* margin: 2rem auto; */
    gap: 30px;

    /* background-color: var(--primary-color); */
    /* background-color: #f7b3fd; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1rem;

    background-color: white;
    padding: 5px;
    border-radius: 8px;

    border: 1px solid rgb(0, 0, 0);
    border-right:  5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}

.skill-tech:hover{
    background-color: rgb(249, 235, 160);
    transition: 0.8s ease-in;
    font-weight: bold;
}

.skill-tech img{
    height: 30px;
    width: 30px;

    border-radius: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.skill-tech h3{
    color: var(--secondary-color);
    /* border: 1px solid rgb(116, 61, 243); */
    padding-right: 7px;
    
}


/************* Contact section *******************/

.contact-container{
    /* width: 100%; */
    /* background-color: rgba(59, 130, 246, .15); */
    margin: 0 auto 2.5rem;
}

.contact-header{
    display: flex;
    color: var(--secondary-color);
    background-color: white;
    border: 1px dashed rgb(3, 3, 3);
    letter-spacing: 2px;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: "Raleway", sans-serif;
}

.contact-section{
    display: flex;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contact-section-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* border: 1px solid rgb(17, 6, 232); */
}

.contact-img{
    height: 70%;
    width: 70%;
    /* border: 1px solid rgb(228, 10, 31); */
}

  .contact-img img{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(17, 6, 232); */
  }

.contact-links{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.contact-links a{
  gap: 1rem;
}

.contact-links img{
  width: 70px;
  transform: all 0.5s;
  padding: 5px 10px;
  /* gap: 1rem; */
  margin: 0 0.5rem;
  filter: drop-shadow(12px 5px 4px rgb(100, 97, 97));
}

  /* right */
.contact-section-right{
    width: 50%;
    flex-direction: column;
    background-color: azure;
    border-left: 1px solid rgb(0, 0, 0);
  border-bottom-right-radius: 5px;

}

.formfield-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    /* border: 1px solid rgb(19, 91, 245); */
}

.fade-form-text{
    color: var(--secondary-color);
    font-size: 20px;
    padding: 0.5rem;
    letter-spacing: 1px;
}

input {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 5px;
    background-color: rgba(185, 205, 237, 0.15);
    border-right:  5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    font-size: medium;
}
  
textarea{
    border-radius: 10px;
    background-color: rgba(185, 205, 237, 0.15);
    border-right:  5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 0 5px;
    /* word-spacing: normal; */

}

.send-button{
    display: flex;
    /* border: 1px solid rgb(144, 19, 10); */
}

.send-button :hover{
  background-color: rgb(236, 196, 230);
  transition: 0.8s ease-in;
  font-weight: bold;
}

button{
    font-size: 25px;
    color: var(--secondary-color);
    margin: 1rem;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}

.send-button img{
    height: 1.2rem;
    width: 1.2rem;
}

#msg{
  color: rgb(52, 153, 12);
  margin-left: 1rem;
}



/***********  FOOTER  *************/

footer{
    background-color: #ffffff;
    border-top: 1px dashed rgb(3, 3, 3);
}

.footer-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto 2rem;
  
    /* border: 1px solid rgb(144, 19, 10); */
}
.copyright{
    width: 50%;
    color: var(--secondary-color);
    /* border: 1px solid rgb(35, 113, 11); */
    font-size: larger;
}
.copyright span{
  font-weight: 600;
}
.footer-links{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 0.5rem;
}
.footer-links img{
    width: 2rem;
    /* padding: 5px 0 ; */
    margin: 10px;
    /* gap: 2rem; */

}


/* Styles for the side menu */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; /* Positioning the side menu to the right */
  background: linear-gradient(300deg, #f6efc4 18%, #a5cce1 80%);
  backdrop-filter: blur(100%);
  box-shadow: -10px 0 10px(0,0,0,0.1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  display: block;
  color: black;

  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
  /* color: var(--secondary-color); */

  margin: 2rem 8rem 0 1rem ;
  padding: 10px;
  border-radius: 8px;

  border: 1px solid rgb(0, 0, 0);
  border-right:  5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  text-decoration: none;
}

.sidenav a:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.sidenav .closebtn {
  position: absolute;
  display: flex;
  align-items: center;
  height:40px;
  width: 50px;
  top: 5px;
  left: 0;
  margin: 2rem 8rem 0 1rem;
  font-size: 36px;
}





/* ------------------ media query -------------------------*/

/*   CSS for small screen   */
  @media only screen and (max-width: 455px){
    
    .lik{
      display: none;
    }

    #menu-icon{
      display: flex;
    }
    .hero-section{
      display: flex;
      flex-wrap: wrap;
      margin: auto 2rem;
    }
    .hero-section-left{
      width: 100%;
    }
    .hero-section-right{
      display: none;
    }

    .project-container{
      margin: 4rem 2rem;
    }
    .project{
      display: inline-block ;
    }
    .sub-section{
      width: 100%;
      margin-bottom: 2em;
    }


    .skill-container{      
      margin: auto 2rem;
    }
    .skill-section{
      display: block;
    }
    .skill-section  div{
      margin: 2rem 0;
      display: flex;
      justify-content: center;
    }
    .skill-tech{
      display: flex;
      flex-wrap: wrap;
    }

  
    .contact-container{
      margin: 4rem 2rem 2rem;
      
    }
    .contact-section-left{
      display: none;
    }
    .contact-section-right{
      width: 100%;
      border-bottom-left-radius: 5px;
      border-left: none;
    }


    .footer-container{
      display: flex;
      flex-direction: column-reverse;
    }
    .footer-links{
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      /* border: 1px solid rgb(16, 131, 35); */
    }
    .footer-links a{
      margin: -0.4rem -0.6rem;
      padding: -5px;
      /* border: 1px solid rgb(220, 89, 49); */
    }

  }


/*   CSS for tablet screen   */

  @media (min-width: 455px) and (max-width: 770px) {

    .nav-logo img{
      display: inline-block;
    }

    .lik{
      display: none;
    }

    #menu-icon{
      display: flex;
    }

    .hero-section{
      margin: auto 2rem;
    }
    .hero-section-left{
      width: 100%;
    }
    .hero-section-right{
      display: none;
    }


    .project-container{
      margin: 4rem 2rem;
    }
    .project{
      display: inline-block;
    }
    .sub-section{
      width: 100%;
      margin-bottom: 1.5em;
    }


    .skill-container{      
      margin: auto 2rem;
    }
    .skill-section{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .skill-section  div{
      display: flex;
      justify-content: center;
    }
    .skill-tech{
      /* display: flex; */
      /* flex-wrap: wrap; */
    }


    .contact-container{
      margin: 4rem 2rem 2rem;
    }
    .contact-section-left{
      display: none;
    }
    .contact-section-right{
      width: 100%;
      border-bottom-left-radius: 5px;
      border-left: none;
    }
    .sm-link{
      display: none;
    }
  }



/*   CSS for small laptop screen   */

  @media (min-width: 770px) and  (max-width: 1024px){
    .hero-section{
      margin: auto 2rem;
    }
    .hero-section-right img{
      width: 100%;
    }

    .project-container{
      margin: 4rem 2rem;
    }
    .project{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .sub-section{
   
    }

    .skill-container{      
      margin: auto 2rem;
    }

    .contact-container{
      margin: 4rem 2rem 2rem;
    }

    .prof-link{
      display: none;
    }
  }


  @media (min-width: 1024px) and  (max-width: 2140px){

    .prof-link{
      display: none;
    }
  }

  
